mixin footer()
    .footer 
        .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
        .footer__twitter 
            include twitter.svg
        .footer__facebook 
            include facebook.svg
        .footer__instagram
            include instagram.svg