mixin prefooter()
    .prefooter 
        .prefooter__logo 
            include ../header-unauth/logo.svg
        .prefooter__toxin 
            include ../header-unauth/toxin.svg
        .prefooter__best-hotel Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .prefooter__navigation навигация
        .prefooter__about-us О нас
        .prefooter__news Новости
        .prefooter__support Служба поддержки
        .prefooter__services Услуги
        .prefooter__about-us-bold о нас
        .prefooter__about-service О сервисе
        .prefooter__our-team Наша команда
        .prefooter__jobs Вакансии
        .prefooter__investors Инвесторы
        .prefooter__support-bold Служба поддержки
        .prefooter__agreements Соглашения
        .prefooter__community Сообщества
        .prefooter__call-us Связь с нами
        .prefooter__subscription Подписка
        .prefooter__get-news Получайте специальные предложения и новости сервиса
        .prefooter__subscription-field