mixin subscription-text-field(name, position)
    .subscription-text-field(style=position)
        .subscription-text-field__name= name 
        input(type='text' value='Email').subscription-text-field__form
        .subscription-text-field__arrow-forward arrow_forward