mixin header-unauth()
    .header-unauth
        .header-unauth__logo
            include logo.svg
        .header-unauth__toxin
            include toxin.svg
        .header-unauth__about-us О нас
        .header-unauth__services Услуги
        .header-unauth__services-dropdown expand_more
        .header-unauth__jobs Вакансии
        .header-unauth__news Новости
        .header-unauth__agreements Соглашения
        .header-unauth__agreements-dropdown expand_more
        .header-unauth__sign-in-button 
        .header-unauth__sign-in-button-text-in войти
        .header-unauth__registration-button 
        .header-unauth__registration-button-text-in зарегистрироваться
