@import __dark-shade-100/dark-shade-100
@import __dark-shade-75/dark-shade-75
@import __dark-shade-50/dark-shade-50
@import __dark-shade-25/dark-shade-25
@import __dark-shade-5/dark-shade-5
@import __green/green
@import __purple/purple
@import __h1/h1
@import __h2/h2
@import __h3/h3
@import __body/body

.colors-and-type
    width: 1440px;
    height: 900px;

.logo
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
    background: rgba(31, 32, 65, 0.25);

.colors-and-type__darkshade100-overview
    position: absolute
    width: 171px
    height: 56px
    left: 260px
    top: 152px
    font-family: 'Montserrat-Bold'
    font-size: 19px
    line-height: 27.29px
    display: flex
    flex-wrap: wrap
    align-items: center
    color: #1F2041

.colors-and-type__darkshade100-overview p
    font-family: 'Montserrat-Regular'
    margin: 0
    

.colors-and-type__darkshade75-overview
    position: absolute;
    width: 161px;
    height: 56px;
    left: 260px;
    top: 242px;
    font-family: 'Montserrat-Bold';
    font-size: 19px;
    line-height: 27.29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #1F2041;

.colors-and-type__darkshade75-overview p
    font-family: 'Montserrat-Regular'
    margin: 0

.colors-and-type__darkshade50-overview
    position: absolute;
    width: 162px;
    height: 56px;
    left: 260px;
    top: 332px;
    font-family: 'Montserrat-Bold';
    font-size: 19px;
    line-height: 27.29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #1F2041;

.colors-and-type__darkshade50-overview p
    font-family: 'Montserrat-Regular'
    margin: 0

.colors-and-type__darkshade25-overview
    position: absolute;
    width: 161px;
    height: 56px;
    left: 260px;
    top: 422px;
    font-family: 'Montserrat-Bold';
    font-size: 19px;
    line-height: 27.29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #1F2041;

.colors-and-type__darkshade25-overview p
    font-family: 'Montserrat-Regular'
    margin: 0

.colors-and-type__darkshade5-overview
    position: absolute;
    width: 149px;
    height: 56px;
    left: 260px;
    top: 512px;
    font-family: 'Montserrat-Bold';
    font-size: 19px;
    line-height: 27.29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #1F2041;

.colors-and-type__darkshade5-overview p
    font-family: 'Montserrat-Regular'
    margin: 0

.colors-and-type__purple-overview
    position: absolute;
    width: 91px;
    height: 56px;
    left: 260px;
    top: 602px;
    font-family: 'Montserrat-Bold';
    font-size: 19px;
    line-height: 27.29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #1F2041;

.colors-and-type__purple-overview p
    font-family: 'Montserrat-Regular'
    margin: 0


.colors-and-type__green-overview
    position: absolute;
    width: 86px;
    height: 56px;
    left: 260px;
    top: 692px;
    font-family: 'Montserrat-Bold';
    font-size: 19px;
    line-height: 27.29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #1F2041;

.colors-and-type__green-overview p
    font-family: 'Montserrat-Regular'
    margin: 0

.colors-and-type__h1-decoration
    position: absolute;
    width: 29px;
    height: 30px;
    left: 854px;
    top: 145px;
    font-family: 'Montserrat-Regular';
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: rgba(31, 32, 65, 0.25);

.colors-and-type__h2-decoration
    position: absolute;
    width: 27px;
    height: 24px;
    left: 856px;
    top: 255px;
    font-family: 'Montserrat-Regular';
    font-size: 19px;
    line-height: 23px;
    text-align: right;
    color: rgba(31, 32, 65, 0.25);

.colors-and-type__h3-decoration
    position: absolute;
    width: 17px;
    height: 15px;
    left: 866px;
    top: 353px;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.25);

.colors-and-type__body-decoration
    position: absolute;
    width: 37px;
    height: 24px;
    left: 846px;
    top: 416px;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: rgba(31, 32, 65, 0.25);