.colors-and-type 
    img.logo(src='../assets/logo.png')
    .colors-and-type__darkshade100-overview  Dark Shade 100% #1F2041
    .colors-and-type__darkshade75-overview  Dark Shade 75% #1F2041
    .colors-and-type__darkshade50-overview  Dark Shade 50% #1F2041
    .colors-and-type__darkshade25-overview  Dark Shade 25% #1F2041
    .colors-and-type__darkshade5-overview  Dark Shade 5% #1F2041
    .colors-and-type__purple-overview  Purple #BC9CFF
    .colors-and-type__green-overview  Green #6FCF97

    .dark-shade-100
    .dark-shade-75
    .dark-shade-50
    .dark-shade-25
    .dark-shade-5
    .purple
    .green