.colors-and-type 
    img.logo(src='../assets/logo.png')
    .colors-and-type__darkshade100-overview  Dark Shade 100% <p>#1F2041</p>
    .colors-and-type__darkshade75-overview  Dark Shade 75% <p>#1F2041</p>
    .colors-and-type__darkshade50-overview  Dark Shade 50% <p>#1F2041</p>
    .colors-and-type__darkshade25-overview  Dark Shade 25% <p>#1F2041</p>
    .colors-and-type__darkshade5-overview  Dark Shade 5% <p>#1F2041</p>
    .colors-and-type__purple-overview  Purple <p>#BC9CFF</p>
    .colors-and-type__green-overview  Green <p>#6FCF97</p>

    .colors-and-type__dark-shade-100
    .colors-and-type__dark-shade-75
    .colors-and-type__dark-shade-50
    .colors-and-type__dark-shade-25
    .colors-and-type__dark-shade-5
    .colors-and-type__purple
    .colors-and-type__green

    .colors-and-type__h1-decoration H1
    .colors-and-type__h2-decoration H2
    .colors-and-type__h3-decoration H3
    .colors-and-type__body-decoration Body

    .colors-and-type__h1 This one is the sub-section or widget title
    .colors-and-type__h2 Next one is the item title inside widgets
    .colors-and-type__h3 This is a label or CTA text
    .colors-and-type__body This is the body text which is used for most of the design, like paragraphs, lists, etc.