mixin dropdown-rooms(name, subname, position, dropped)
    .dropdown-rooms(style=position)
        .dropdown-rooms__name= name 
        .dropdown-rooms__subname= subname 
        .dropdown-rooms__form
            .dropdown-rooms__text-in 
            .dropdown-rooms__expand-more 
            