.find-a-room
    .find-a-room__title Найдём номера под ваши пожелания
    .find-a-room__button
        .find-a-room__button-text-in подобрать номер
        .find-a-room__button-forward-arrow arrow_forward
    .find-a-room__arrival-title прибытие
    .find-a-room__arrival
        .find-a-room__arrival-text-in ДД.ММ.ГГГГ
        .find-a-room__arrival-down-arrow expand_more
    .find-a-room__checkout-title выезд
    .find-a-room__checkout
        .find-a-room__checkout-text-in ДД.ММ.ГГГГ
        .find-a-room__checkout-down-arrow expand_more
    .find-a-room__guests-title гости
    .find-a-room__guests 
        .find-a-room__guests-text-in Сколько гостей
        .find-a-room__guests-down-arrow expand_more