mixin business-card()
    .business-card__logo 
        include ../header-unauth/logo.svg
    .business-card__toxin
        include ../header-unauth/toxin.svg 
    .business-card__copyright Copyright © 2018 Toxin отель. Все права защищены. 
    .business-card__instagram 
        include ../footer/instagram.svg
    .business-card__facebook
        include ../footer/facebook.svg 
    .business-card__twitter
        include ../footer/twitter.svg