mixin comfort(position)
    .comfort(style=position)
        .comfort__logo insert_emoticon
        .comfort__text Комфорт
        .comfort__subtext Шумопоглощающие стены


mixin convenience(position)
    .convenience(style=position)
        .convenience__logo location_city
        .convenience__text Удобство
        .convenience__subtext Окно в каждой из спален