mixin header-auth()
    .header-auth
        .header-auth__logo
            include ../header-unauth/logo.svg
        .header-auth__toxin
            include ../header-unauth/toxin.svg
        .header-auth__about-us О нас
        .header-auth__services Услуги
        .header-auth__services-dropdown expand_more
        .header-auth__jobs Вакансии
        .header-auth__news Новости
        .header-auth__agreements Соглашения
        .header-auth__agreements-dropdown expand_more
        .header-auth__account-name Юлий Цезарь